 body {
     text-align: center;
     background-color: rgba(78, 75, 99, 0.89);
     color: rgb(176, 177, 197);
     background-image: url(../img/sahale-peak.png);
     background-size: cover;
     width: 100%;
     background-attachment: fixed;
 }

 h1 {
    text-shadow: 0 .15rem rgba(0, 0, 0, 0.52);
    font-family: Haettenschweiler;
 }

 .header {
    font-family: Haettenschweiler;
    
 }

 .work-container {
    text-align: left;
 }

 img {
    margin-bottom: 1rem;
    border-radius: .5rem;
 }

 .section {
     background-color: rgba(0, 0, 0, 0.637);
     padding: 2rem 0 2rem 0;
 }

 .sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

.jumbo-add {
    background: none; 
    margin: 3rem 0 50rem 0;
}

a {
    color: rgb(82, 82, 133);
    font-weight: bold;
}

a:hover {
    color: rgb(19, 73, 28);
    text-decoration: none;
}

.nav-add {
    background-color: rgb(0, 0, 0);
}
